h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#audio-file {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#audio-preview {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

#predict-btn {
    padding: 10px 20px;
    background-color: #006aff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Adjusted to a smaller value -->*/
    margin-bottom: 10px; /* Adjusted to a smaller value */
}

#prediction-result {
    font-weight: bold;
}

.element {
    margin: 10vh; /* Adjusted to a smaller value */
}
